@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');


$body-font: 'Poppins', sans-serif;
$headers-font: 'Poppins', sans-serif;

@media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }

  h1 {
    font-size: calc(1.375rem + 3.5vw);
  }

  h2 {
    font-size: calc(1.325rem + 1.0vw);
  }

  h3 {
    font-size: calc(1.3rem + 0.4vw);
  }

  h4 {
    font-size: calc(1.275rem + 0.3vw);
  }

  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }

  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }

  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }

  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }

  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
}

button {
  font-size: inherit
}

input {
  font-size: inherit
}

.form-control {
font-family: 'Poppins', sans-serif;
}

body {
font-family: 'Poppins', sans-serif;
  color:#212529;
}

.subtitle{
  margin-bottom: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #868e96;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: .5rem;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    line-height: 1.3;
}

.text{
  &.small{
    font-size: .875rem;

  };
  &.bold{
    font-weight: 600
  }
  &.light{
    color: #6d6d6d;
  };

}

.downcase{
  text-transform: none !important
}
