.race-price-box{
  font-size: 1rem;
  border-bottom: 1px solid #e9ecef;
  margin-bottom: 12px;
  position:relative;
  a{

    position: absolute;
    right: 3%;
  }

  p{
    margin-right: 10px;
    margin-bottom: 0px
  }
  i{
    color: $red;
  }
}

