<div>
  <h6 class="mb-0"><%= race.name %></h6>
  <p class="mb-2 text-sm text-muted"><%= race.race_type %></p>
  <div class="d-flex justify-content-around">
    <p class="mb-0"><%= race.length %>Km</p>
    <p class="mb-0"><%= race.elevation %>m d+</p>
  </div>
</div>
