<div class="progress">
  <div id="race-progress-bar" class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="container py-5">
  <p class="subtitle text-primary">INSERISCI UNA NUOVA GARA</p>
  <div class="d-flex justify-content-between pr-5">
    <h2><span id="race_step_description">Informazioni di Base</span></h2>
    <h2 class="text-muted">Step <span id="race_step">1</span></h2>
  </div>
</div>


<div class="new-form-container container py-5">
  <%= render 'new_race_form', race: @race %>
<div>
