        <div class="row">
          <div class="col-md-6 py-4 text-center">
            <div class="px-0 px-lg-3">
              <div class="my-5">
                  <%= image_tag 'runner-icon-orange.svg', height: 150 %>
              </div>
              <%= link_to races_path do  %>
              <h3 class="h5">Continua su TraiList</h3>
              <% end %>
              <p class="text-muted">Sfoglia il calendario, scegli la tua prossima corsa e lascia le tue recensioni</p>
            </div>
          </div>
          <div class="col-md-6 py-4 text-center">
            <div class="px-0 px-lg-3">
              <div class="my-5">
                  <%= image_tag 'finish-line.svg', height: 150 %>
              </div>
              <%= link_to add_your_group_organizations_path do  %>
                <h3 class="h5">Organizzi una gara?</h3>
              <% end %>
              <p class="text-muted">Registra la tua organizzazione o il tuo gruppo sportivo e aggiungi le tue gare al calendario</p>
            </div>
          </div>
        </div>
