<%= simple_form_for [race, photo] do |f| %>
  <%= f.input :picture_cache, as: :hidden %>
  <div class="race-photo-input file btn btn-primary">
    Seleziona una o più immagini
    <%= f.input :picture, input_html: { multiple: true } %>
  </div>
  <div class="race-photo-preview"  id="preview"></div>
  <%= f.button :submit, "Carica", class:'mr-3 btn btn-primary', style: 'float: right;display: none' %>
<% end %>



