
.avatar.avatar-xl {
    width: 7rem;
    height: 7rem;
}
.avatar.avatar-xxl {
    width: 9rem;
    height: 9rem;
}

.avatar {
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border: #dee2e6;
    border-radius: 50%;
    background: #fff;
}

.user-profile-avatar{

}
