form {
    .form-group {
    margin-bottom: 24px;
  }



  .form-control[readonly]{
    background-color: white
  }

  .form-control-label {
    color: #868e96;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(1.6em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .4rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;

    &:focus {
      border-color: white;
      box-shadow: 0 0 0 1px rgb(94, 94, 94);
    }
   }
}


.form-card {
  -webkit-box-shadow: 0px 0px 13px 3px rgba(205,205,205,0.48);
  -moz-box-shadow: 0px 0px 13px 3px rgba(205,205,205,0.48);
  box-shadow: 0px 0px 13px 3px rgba(205,205,205,0.48);
    border-radius: 8px;
  border-color: #e6e0e0b3;
  height: 100%;
  h1{
    margin-bottom: 2rem
  }
}


.logo-preview{
  object-fit: cover;
}


#review_content{
  min-height: 150px;
}
