.race-steps-container{
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  margin: 0 auto;
  position: relative;
  .race-step{
    background-color: #f9c7c9;
    z-index: 5;
    border-radius: 50%;
    width: 7vh;
    height: 7vh;
    justify-content: center;
    display: flex;
    align-items: center;  
    i{
      color: white
    }
  }
  .row-connetcion-1{
    position: absolute;
    background-color: #f9c7c9;
    height: 5px;
    width: calc(50% - 3rem);
    left: 3.1rem;
    top: calc(50% - 3px);
    &.color{
      background-color: $red;
    }

  }
  .row-connetcion-2{
    position: absolute;
    background-color: #f9c7c9;
    height: 5px;
    width: calc(50% - 3rem);
    right: 3.1rem;
    top: calc(50% - 3px);
    &.color{
      background-color: $red;
    }
  }
}


.race-step.color{
  background-color: $red;
} 

@media screen and (max-width: 600px) {
  .race-step {
    height: 5vh !important;
    width: 5vh !important;

  }
}
