

@import "config/colors";
@import "config/bootstrap_variables";

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-select/dist/css/bootstrap-select';
@import 'flatpickr/dist/flatpickr';
@import 'pages/index';
@import "config/font";

@import 'components/index';
@import "font-awesome";





body{
  background-color:#FFF ;
  color: #484848 !important;
}



#next-form-view {
  padding: 6px 10px;
  background-color: $red;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}



#previous-form-view{
  padding: 6px 10px;
  background-color: $red;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  cursor: pointer;

}


label{
  color: #868e96;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.label-small{
  color: #868e96;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: normal;
}


.list-group-item{
  position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.075);
}
