<div class="container">
  <div class="row form-row">
    <div class="col-lg-5">
      <p class="subtitle text-primary">Sei ad un passo dall'aggiungere le tue gare!</p>
      <h1 class="h2 mb-5">Registra il tuo gruppo sportivo</h1>
      <p class="text-muted mb-4">Sei ad un passo dall'inserire la tua gara su TrailCalendar.it! Cliccando su continua potrai inserire il gruppo sportivo da te rappresentato e se vuoi puoi dare ai runner tutte le informazioni su di voi! <br>
      Dalla pagina del gruppo sportivo potrai poi aggiungere e modificare gare e leggere le recensioni che i trail runners lasceranno per i tuoi eventi.</p>
      <p class="mb-5 mb-lg-0">
        <%= link_to "Continua", new_organization_path,  class: "btn btn-primary" %>
    </div>
    <div class="col-lg-5 ml-auto d-flex align-items-center">
      <div class="photo-organization-container" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url('<%= image_path "runners-pic.jpg" %>')">

      </div>
    </div>
  </div>
</div>

