<div class="list-group shadow mb-3">
  <div class="list-group-item list-group-item-action py-2 px-4">
  <div class="row">
    <div class="col-lg-12 p-3 mb-4 mb-lg-0">
      <div class="mb-3">
        <h2 class="h5 mb-2"><%= review.race.name %></h2>
        <h6 class="label-small downcase"> <%= review.content %> </h6>
      </div>
    </div>

    </div>
    <div class="row">
      <div class="col-sm-12">
      </div>
    </div>
  </div>
<!--             <p class="text-muted mb-2">Non hai ancora inserito gare</p>
  <%#= link_to 'Aggiungi una corsa', new_race_path, class: " btn btn-outline-primary" %>
--> </div>
