
<div class='rating-stars text-center'>
  <ul id='stars'>
    <% for i in (1..5) do %>
    <li class='single-star' data-target="<%= target %>" title='Poor' data-value='<%= i %>'>
      <i class='fa fa-star fa-fw'></i>
    </li>
    <% end %>
  </ul>
</div>



<script>
</script>


